/* div {
  background-color: white;
margin-left: 40%
} */
body {
  margin: 0;
}
p.big {
  font-size: 4em;
}


}
div.left-side {
  width: 50%;
  border: 2px solid black;
}

div.right-side {
  width: 50%;
  border: 2px solid black;
}

.about-photo {
  display: block;
  margin: 0 auto;
}

.about-title {
  text-align: center;
}

.about-label {
  text-align: center;
}

nav {
  background-color: grey;
  padding: 10px 30% 10px 30%;
  display: flex;
  justify-content: space-between;

}

a {
  text-decoration:none;
}

a:hover{
  color: yellow;

}

h1 {
  text-align: center;
}

.main-page {
  display: flex;
  justify-content: space-around;
  background: url("Main Background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.thumbnail-label {
text-align: center;  
}



.link-button:hover{
  background-color: blue;
}

.link-button {
  margin: 40px auto;
  display: block;
}


h2 {text-align: auto;
color: blue};


nav {
  background-color: grey;
  padding: 10px 30% 10px 30%;
display: flex;
justify-content: space-between;
}


p.little {
font-size: .4em
}

.about-box {
  display: flex;
}

.left-side {
    border-style solid;
   border-width: 6px;
   border-left-width: 10px;
   border-right-width: 10px;
   border-color: red;}

body {
     margin: 0;
}
