/* div {
  background-color: white;
margin-left: 40%
} */
body {
  margin: 0;
}
p.big {
  font-size: 4em;
}

.orderedlist {
  justify-content: center;
  list-style-position: inside;
}

.contactpage {
  background: url("backgroundpic.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
  background-position: 50px;
}

figure {
  padding-top: 10%;
}

.about-title {
  text-align: center;
}

.about-label {
  text-align: center;
}

nav {
  background-color: #232623;
  padding: 10px 30% 10px 30%;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration:none;
  color: #813ec9;
}

a:hover{
  color: #40a56f;

}

h1 {
  text-align: center;
  color: #2936f2
}


.skywrs {
  margin: auto;
  display: block;
}

.home-page-left-side {
  margin: auto;
  display: block;
}

.thumbnail-label {
text-align: center;
}



.link-button:hover{
  background-color: blue;
}

.link-button {
  margin: 40px auto;
  display: block;
}


h2 {text-align: center;
color: #56cfea;
}

.homepagelink {
color: #f4b942;
}

h2 {text-align: center;
color: ;
}

.about-box{
  border: 2px solid black;
  width: 50%;
  display: block;
  margin: auto;
}


.main-page {
  background-color: #434743;
}

.thumbnail-label {
  text-align: center;
  color: #56cfea;
}


body {
  background-color: #434743;
}


li {
  text-align: center;
  color: #3a9e31;
}


h2 {
    font-size: 25px;
}


li {
    font-size: 20px;
}
