body {
  margin: 0;
}
p.big {
  font-size: 4em;
}

.orderedlist {
  justify-content: center;
  list-style-position: inside;
}

.contactpage {
  background: url("backgroundpic.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
  background-position: 50px;
}

figure {
  padding-top: 10%;
}

.about-title {
  text-align: center;
}

.about-label {
  text-align: center;
}

nav {
  background-color: #232623;
  padding: 15px 20% 15px 20%;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration:none;
  color: #813ec9;
}

a:hover{
  color: #f4b942;

}

h1 {
  text-align: center;
  color: #813ec9
}


.skywrs {
  margin: auto;
  display: block;
  width:200px;
  height:600px;
}


.home-page-left-side {
  margin: auto;
  display: block;
  width:280px;
  height:600px;
}

}

.thumbnail-label {
text-align: center;
}



.link-button:hover{
  background-color: blue;
}

.link-button {
  margin: 40px auto;
  display: block;
}


h2 {text-align: center;
color: #f4b942;
}

.homepagelink {
color: #f4b942;
}

h2 {text-align: center;
color: ;
}

.about-box{
  border: 4px solid #252b25;
  width: 50%;
  display: block;
  margin: auto;
}


.main-page {
  background-color: #434743;
}

.thumbnail-label {
  text-align: center;
  color: #42ceed;
  font-size: 20px;
}

img {
  border-radius: 25px;
}

body {
  background-color: #434743;
}

li {
  text-align: center;
  color: #42ceed;
}


h2 {
    font-size: 25px;
}


li {
    font-size: 30px;
}

button {
  background-color: #8b948b;
  border: none;
  border-radius: 15px;
  color: #813ec9;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 2px 15px;
  cursor: pointer;
}
